choice_set/
choice_properties/



visualization/
logit_models/*
!logit_models/*.csv
figures/
demographics/
biogeme_model/
__biogeme_model/
notebooks/
.ipynb_checkpoints
__pycache__
test/
manual_map_matching/cyclist_raw_data